<ion-view ng-controller="DrinkBuilderCtrl"
		  class="drink-builder"
		  view-title="{{drinkType.name}}">

	<form name="drinkForm">
		<label class="item item-input">
			<input type="text" ng-model="drinkType.name" required placeholder="Drink Name" class="drink-name">
		</label>
		<div class="button-bar category-picker">
			<label ng-repeat="category in drinkCategories"
				   title="{{category}}"
				   ng-class="{ active: category === drinkType.category }"
				   ng-click="selectCategory(category)"
				   class="button">
				<drink-icon drink-type="{ category: category }"></drink-icon>
			</label>
		</div>
		<div class="list">
			<label class="item item-input">
				<i class="icon fa fa-pie-chart placeholder-icon"></i>
				<span class="input-label">ABV %</span>
				<input type="number" placeholder="ABV" required ng-model="drinkType.abv">
			</label>
			<label class="item item-input">
				<i class="icon fa fa-cutlery placeholder-icon"></i>
				<span class="input-label">Calories</span>
				<input type="number" placeholder="Calories (100ml)" required ng-model="calories.per100">
			</label>
		</div>

		<div class="button-bar">
			<button class="button button-dark" ng-click="cancel()">Cancel</button>
			<input type="submit" class="button button-balanced"
				   value="Save"
				   ng-click="saveDrink()"
				   ng-disabled="drinkForm.$invalid"/>
		</div>
	</form>
</ion-view>