ion-scroll[direction=y] {
    height: 100vh;
}

.scroll {
    padding-bottom: 80px;
}

input.drink-search[type=text] {
    width: 100%;
    font-size: 32px;
    min-height: 60px;
    line-height: 50px;
    color: #ddd;
    text-align: center;
}

input.ion-autocomplete-search[type=search] {
    color: #202020;
}

input.ion-autocomplete::-webkit-input-placeholder { color: #ddd }

.nvtooltip {
    background-color: #505050;
    color: #c0c0c0;
}

.nv-legend-text {
    fill: #c0c0c0;
}

.bac-chart .nv-axis text {
    fill: #a0a0a0
}

.bac-chart .nv-axis line {
    stroke: #404040;
}

.profile .item {
    border-color: transparent;
    background-color: #303030;
}

.profile input {
    font-size: 18px;
}

.profile .item .input-label {
    color: #b0b0b0;
}

.profile ::-webkit-input-placeholder { font-style: italic; color: #808080 }

.profile .gender {
    display: inline-block;
    width: calc(50% - 8px);
}

.profile .gender:first-child { margin-left: 5px; }
.profile .gender:last-child { margin-right: 5px; }

.profile .gender i.fa {
    font-size: 35px;
}
.profile .gender i.radio-icon {
    font-size: 30px;
}