<ion-view view-title="DrinkUp">
	<ion-scroll direction="y">
		<drink-icon drink-type="{ category: 'beer' }" class="logo"></drink-icon>
		<button ng-click="startSession()" class="button button-block button-large button-balanced">
			Go Drinking!
		</button>
		<div class="card session-list">
			<ion-list>
				<ion-item ng-repeat="session in sessions" href="#/app/session/{{session.id}}">
					<span>{{session.description}}</span>
					<span class="date" am-time-ago="session.startDate"></span>
				</ion-item>
			</ion-list>
		</div>
	</ion-scroll>
</ion-view>